@using claseMVCts.Models
@model claseMVCts.Models.libro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>libro</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Autor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Autor)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Genero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero)
    </div>
    <div class="display-field">
        <img alt="@Model.Titulo" src="@Model.ruta" width="100px" height="100px"/>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
